body {
  padding-top: 70px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 1.7;
  word-wrap: break-word;
  color: #222;
  background-color: #fff;
}
.container {
  width: 960px;
  padding: 0;
}
.redactor-editor {
  padding: 12px;
}
.i-navbar-default {
  .i-ask {
    margin-top: 7px;
    background: #0e78e7;
    border: 1px solid #045bb2;
    color: #fff;
  }
  .i-userinfo {
    margin-left: 15px;
    &:hover, .i-username:hover {
      background: #095fb3;
    }
    .i-username {
      width: 120px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 0;
    }
    a {
      padding-left: 10px;
    }
    .dropdown-menu a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0; // remove the gap so it doesn't close
  }
}

.i-section {
  margin: 0 0 10px;
  display: block;
}

$sidebar_w: 270px;
.i-main-content {
  float: left;
  width: 100%;
}

.i-main-content-inner {
  margin-right: $sidebar_w + 58px;
  // border: 1px dotted yellow;
}

.i-main-sidebar {
  $w: $sidebar_w;
  float: left;
  margin-left: -$w;
  width: $w;
  // border: 1px dotted red;
}

.i-home-list-title {
  font-size: 14px;
  color: #666;
  font-weight: 700;
}


.zg-link-gray {
    color: #999;
    font-weight: 400;
    &:hover {
      color: #698ebf;
    }
}

.i-tl-wrap {
  position: relative;
    border-top: 1px solid #ccc;
}
.i-tl-alert {
  text-align: center;
  padding: 4px;
  margin: 12px 0 2px 0;
  color: #777;
  background: #eff6fa;
    border: 1px solid #cce1ef;
  cursor: pointer;
  &:hover {
    background: #daedf5;
    border: 1px solid #c7dff0;
    color: #666;
  }
}

.i-navbar-default {
  $navbar-default-bg: #0767c8;
  $navbar-default-link-color: #eee;
  $navbar-default-link-hover-color: #fff;
  $navbar-default-link-active-color: $navbar-default-link-hover-color;
  $navbar-default-link-hover-bg: $navbar-default-bg;
  $navbar-default-link-active-bg: #075fb6;

  background-color: $navbar-default-bg;

.navbar-brand {
    color: $navbar-default-link-color;
    &:hover,
    &:focus {
      color: $navbar-default-link-color;
      // background-color: @navbar-default-brand-hover-bg;
    }
  }

  .navbar-nav {
    > li > a {
      color: $navbar-default-link-color;

      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-active-color;
        background-color: $navbar-default-link-active-bg;
      }
    }
    /*
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
    */
  }

  // Dropdown menu items
  .navbar-nav {

      // Dropdowns get custom display when collapsed
      .dropdown-menu {
        padding: 0;
        background: #095fb3;
        > li > a {
          color: $navbar-default-link-color;
          &:hover,
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-active-color;
            background-color: $navbar-default-link-active-bg;
          }
        }
        /*
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-disabled-color;
            background-color: $navbar-default-link-disabled-bg;
          }
        }
        */
      }

  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.
/*
  .navbar-link {
    color: $navbar-default-link-color;
    &:hover {
      color: $navbar-default-link-hover-color;
    }
  }

  .btn-link {
    color: $navbar-default-link-color;
    &:hover,
    &:focus {
      color: $navbar-default-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
      }
    }
  }
  */
}
